.button-wrapper {
  display: inline-block;
  border: none;
  border-radius: 100px;
  padding: 14px 22px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  height: auto;
  transition: background-color 0.3s;

  &.bg-primary {
    background-color: $green-200;

    &:hover {
      background-color: $green-100;
    }
  }

  .button-text {
    display: flex;
    align-items: center;
    gap: 1px;
    white-space: nowrap;

    &.white-100 {
      color: $white-100;
    }

    .icon {
      font-size: 14px;
    }
  }
}
