/*theme colors*/

/*variables*/

/*black*/
$black-100: #000000;
$black-80: #6f6f6f;
$black-60: #cecece;

/*white*/
$white-100: #ffffff;
$white-80: #e9e9e9;

/*primary green*/
$green-200: #485c11;
$green-100: #8e9c78;
$green-60: #dfecc6;
