/*theme colors*/

/*variables*/

/*black*/
$black-100: #000000;
$black-80: #6f6f6f;
$black-60: #cecece;

/*white*/
$white-100: #ffffff;
$white-80: #e9e9e9;
$white-40: #f9f9f9;

/*primary green*/
$green-200: #485c11;
$green-100: #8e9c78;
$green-60: #dfecc6;

/*declarations*/

.green-200 {
  background-color: $green-200;
}
.green-100 {
  background-color: $green-100;
}
.green-60 {
  background-color: $green-60;
}

.green-text-200 {
  color: $green-200;
}
.green-text-100 {
  color: $green-100;
}
.green--text-60 {
  color: $green-60;
}

.white-text-100 {
  color: $white-100;
}
