.hero-banner {
  padding-top: 120px;
  position: relative;
  overflow: hidden;
  .container {
    padding: 0px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 236px;
  }

  .hero-background {
    background-color: $green-100;
    border-radius: 30px;
    height: 312px;

    @media screen and (min-width: 768px) {
      height: 362px;
    }
    @media screen and (min-width: 1280px) {
      height: 376px;
    }
  }

  .hero-image-wrapper {
    position: relative;
  }

  .hero-image-inner {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .hero-image-box {
    position: absolute;
    bottom: -112px;
    border: 10px solid $black-100;
    border-radius: 30px;
    overflow: hidden;
    clip-path: inset(0 0 100px 0);

    @media screen and (min-width: 1280px) {
      bottom: -186px;
      border: 20px solid $black-100;
    }
  }

  .hero-image {
    display: block;
    max-width: 100%;
    position: relative;
    top: -10px;
    height: 486px;

    @media screen and (min-width: 768px) {
      height: 520px;
    }

    @media screen and (min-width: 1280px) {
      height: 660px;
    }
  }
}
