.specs-section {
  padding-top: 50px;
  padding-bottom: 120px;
  border-top: 1px solid $white-80;

  .heading-2 {
    padding: 40px 0px;
  }

  .body-1 {
    padding-bottom: 40px;
  }

  .tabs-container {
    margin-top: 40px;
  }
}
